:root {
    --1: rgb(230, 230, 230);
    --2: rgb(26, 26, 26);
    --3: rgb(44, 44, 44);
    --4: rgb(64, 64, 64);
    --5: rgb(85, 85, 85);
    --6: rgb(190, 190, 190);
}

/* BODY */

body {
    background-color: var(--2);
    border-bottom: var(--2) 3px solid;
    margin: 0;
    color: var(--1);
    font-family: 'Inter', sans-serif;
}

/* HEADER */

header {
    position: relative;
    height: 80px;
    background-color: var(--2);
    display: flex;
    flex-flow: row nowrap;
    z-index: 2;
}
left {
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
}
left > img {
    height: 80px;
    width: auto;
    position: relative;
    top: 0;
    transition: all 0.15s;
}
left > img:hover {
    top: -5px;
}
left > img:active {
    top: 0;
}
right {
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
    justify-content: right;
    align-items: center;
}
right > button {
    position: relative;
    top: 0px;
    border: 3px solid var(--2);
    background-color: var(--2);
    color: var(--1);
    padding: 15px 30px;
    border-radius: 5px;
    height: 60px;
    min-width: 100px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.15s;
    border: var(--2) 5px solid;
}
right > button:hover {
    top: -5px;
    border-bottom: var(--3) 5px solid;
}
right > button:active {
    top: 0px;
}
right > img {
    display: none;
    width: 60px;
    height: auto;
    margin-right: 15px;
}

/* FOOTER */

footer {
    width: calc(100% - 40px);
    display: none;
    flex-flow: row wrap;
    padding: 10px 20px;
    cursor: default;
    margin-top: auto;
}
.show-footer {
    display: flex;
}
footer > h3, footer > p {
    font-size: 16px;
    margin: 0;
    color: var(--4);
}
footer > h3 {
    margin-right: 10px;
}
footer > p {
    transition: all 0.15s;
    color: var(--2);
}
footer:hover > p {
    color: var(--1);
}

/* GENERAL */

a {
    color: var(--1);
    text-decoration: var(--4) 3px underline;
    transition: all 0.15s;
}
a:hover {
    color: var(--6);
    text-decoration: var(--5) 3px underline;
}
.code {
    padding: 3px;
    border-radius: 5px;
    background-color: var(--3);
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.title-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.title-container > h1 {
    font-size: 72px;
    margin: 10px;
    width: 800px;
}
.title-container > h2 {
    font-size: 20px;
    margin: 10px;
    width: 800px;
}

/* TOUCH MENU */

@keyframes showMenu {
    0% { top: -230px; }
    100% { top: 95px; }
}
@keyframes hideMenu {
    0% { top: 95px; }
    100% { top: -230px; }
}

.show-menu {
    animation: showMenu 0.5s ease-out;
    top: 95px;
}
.hide-menu {
    animation: hideMenu 0.5s ease-in;
    top: -230px;
}

touch-menu {
    position: absolute;
    margin: -15px 0 8px 0;
    top: -230px;
    left: 0px;
    height: auto;
    width: 100%;
    background-color: var(--2);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 5px;
    z-index: 1;
    border-bottom: var(--3) 5px solid;
}

touch-menu > button {
    position: relative;
    top: 0px;
    border: 3px solid var(--2);
    background-color: var(--2);
    color: var(--1);
    padding: 15px 30px;
    border-radius: 5px;
    height: 60px;
    min-width: 100px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.15s;
    border: var(--2) 5px solid;
}
touch-menu > button:hover {
    top: -5px;
    border-bottom: var(--3) 5px solid;
}
touch-menu > button:active {
    top: 0px;
}

/* MEDIA */

@media (max-width: 600px) {
    right > img {
        display: block;
    }
    right > button {
        display: none;
    }
}




/* INDEX */

banner {
    display: flex;
    flex-flow: row wrap;
    width: calc(100%-40px);
    justify-content: space-evenly;
    margin: 10px;
}
long {
    width: 800px;
    display: flex;
    flex-flow: column nowrap;
}
long > h1 {
    font-size: 72px;
    margin: 10px 20px;
}
long > p {
    margin: 10px 20px;
}
short {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 20px;
}
short > h1 {
    font-size: 72px;
    margin: 10px 0;
}
simple-banner {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
simple-banner > darker {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
simple-banner > darker > h1 {
    width: 800px;
    font-size: 64px;
    margin: 30px 0 15px 0;
}
simple-banner > darker > h2 {
    width: 800px;
    font-size: 32px;
    margin: 15px 0 30px 0;
}
.project {
    border-bottom: var(--3) 5px solid;
    position: relative;
    left: 0px;
    transition: all 0.15s;
    user-select: none;
}
.project:hover {
    left: -10px;
}
.project > h1 {
    font-size: 24px;
}
links {
    display: flex;
    flex-flow: row wrap;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--2);
    margin-top: 5px;
    border-radius: 5px;
    margin-right: 8px;
    position: relative;
    top: 0;
    border-bottom: var(--2) 5px solid;
    transition: all 0.15s;
}
.link:hover {
    border-bottom: var(--3) 5px solid;
    top: -5px;
}
.link > img {
    width: 50px;
    height: 50px;
}

@media (max-width: 800px) {
    h1, h2, h3, h4, h5, h6, p {
        max-width: 90%;
    }
    long, short {
        margin-bottom: 30px;
    }
}


/* BLOG */

.container {
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    justify-content: first baseline;
}

.post {
    width: 800px;
    border-bottom: var(--3) 5px solid;
    position: relative;
    right: 0;
    transition: all 0.15s;
    cursor: default;
}
.post:hover {
    right: 10px;
}
.post > h1 {
    margin: 15px 0;
    font-size: 24px;
}
.post > p {
    margin: 15px 0;
    font-size: 16px;
}
.post-index {
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.post-index > h1 {
    margin: 15px 15px 15px 0;
}
@media (max-width: 800px) {
    .post {
        width: calc(100% - 30px);
        margin: 0 15px;
    }
    .post-index > h1 {
        margin: 15px 0;
    }
}


/* ARTICLE */

.article-title > h1 {
    font-size: 36px;
    position: relative;
    left: 0;
    transition: all 0.15s;
    cursor: pointer;
}
.article-title > h1:hover {
    font-size: 36px;
    left: -10px;
}
.article-container > p {
    line-height: 24px;
    margin-bottom: 5px;
}
.article-container > h2, .article-container > h3 {
    margin-top: 30px;
    margin-bottom: 0;
}
img-box {
    width: 800px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.article-container > img-box > img {
    max-height: 400px;
    max-width: 800px;
    margin: 15px;
    border-radius: 8px;
    position: relative;
    top: 0;
    transition: all 0.15s;
}
.written-on {
    color: var(--5);
}
.article-container > img-box > img:hover {
    top: -5px;
}
.article-container > img-box > img:active {
    top: 0;
}
@media (max-width: 800px) {
    img-box {
        width: calc(100% - 30px);
        margin: 0 15px;
    }
    .article-container > h2, .article-container > h3, .article-container > p {
        width: calc(100% - 60px);
        margin-right: 30px;
        margin-left: 30px;
    }
}
button-area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 0;
    margin: 10px 0;
}
button-area > button {
    position: relative;
    top: 0px;
    border: 3px solid var(--2);
    background-color: var(--2);
    color: var(--1);
    padding: 15px 30px;
    border-radius: 5px;
    height: 60px;
    min-width: 100px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.15s;
    border: var(--2) 5px solid;
}
button-area > button:hover {
    top: -5px;
    border-bottom: var(--3) 5px solid;
}
button-area > button:active {
    top: 0px;
}